.my-gallery {
  &-panel {
    &__line {
      margin: 0 0 1em;
    }
  }
  &-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
  }
  &-image {
    order: 0;
    flex: 0 0 auto;
    align-self: auto;
    position: relative;
    box-sizing: border-box;
    img {
      display: block;
      width: auto;
    }
    &__cover {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
  }
}